<footer class="main-footer">
  <strong>Nobe-Bank:</strong> O banco digital 
  <div class="float-right d-none d-sm-inline-block">
    <b>e-mail:</b> teste@nobe.com.br / <b>ramal: </b>1852
  </div>
</footer>