<% if user_signed_in? %>
    <h3>Seja bemvindo, <%= current_user.email %>!</h3>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <p>Seu código de cliente é: <%= current_user.id %></p>
<% else %>
    <h3>Desculpe, vocẽ não está logado ainda </h3>
<% end %>