<% if user_signed_in? %>
    <h4>Seja bemvindo, <%= current_user.email %>!</h4>
    <%= link_to "Sign out", destroy_user_session_path %>
    <p>Seu código de cliente é: <%= current_user.id %></p>
<% else %>
    <h4>Desculpe, você não está logado ainda </h4>
<% end %>