<h3>Detalhes da conta</h3>

<p>Banco número: <%= @account.bk_number %></p>
<p>Agência: <%= @account.bk_branch %></p>
<p>Conta número: <%= @account.account_number %></p> 
<p>Detalhes: <%= @account.details %></p>


